In [8]:
import pandas as pd

df = pd.read_csv("Census Data.csv")

In [9]:
df

,Key for archaeology team,ID code for specific households,Unnamed: 2,"If available, a link to scanned images of the original lost property claim",Unnamed: 4,Last name of women before getting married,Unnamed: 6,"At this point in history, the Head was usually the senior man of the house and/or who was the person earning money for the family",Unnamed: 8,Unnamed: 9,"White = W, Black = B",Unnamed: 11,"Index of household (unique ID for each household); see tab ""Census -- household population"" for number of people in each houshold",Unnamed: 13,Who lived in together in the household,Information about household members based on archaeology team's research
0,Order,Family,Original order,Link to Claim,Last Name,Maiden Name,First Name,Relation to Head of Household,Age,Sex,Race,Occupation,Household Inventory # n=420,1375 people,Household,Family Notes
1,1,RES.006,99,Link to Claim Images,Abbot,NaN,Lydia,Head,?,F,W,?,1,1,Lydia Abbot,"Lydia claims, Isaac possibly dead, both live i..."
2,2,RES.008,195,Link to Claim Images,Abraham,NaN,Martha,Head,54,F,W,?,2,1,Martha Abrahams (54),
3,3,RES.009,278,Link to Claim Images,Abraham,NaN,Ralph,Head,32,M,W,NaN,3,1,Ralph Abraham (32),NaN
4,4,RES.007,306,Link to Claim Images,Abraham,NaN,Joanna,Head,?,F,W,Widow,4,1,Joanna Abraham,Daughter Elizabeth is 27 and may have moved ou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1386,1386,RES.455,210,Link to Claim Images,Wyer,NaN,William,Head,67,M,W,sail-maker,417,1,William Wyer (67),adult children
1387,1387,RES.451,346,No Claim Found,Wyer,NaN,Eleazer,Head,33,M,W,goldsmith,418,2,"Eleazer Wyer (33), Lydia Austin (35)",NaN
1388,1388,NaN,NaN,NaN,Wyer,Austin,Lydia,Wife,35,F,W,NaN,418,NaN,NaN,NaN
1389,1389,RES.454,462,No Claim Found,Wyer,Swain,Katherine,Head,81,F,W,widow,419,1,Katherine (Swain) Wyer (81),widow of Robert
1390,1390,RES.456,433,Link to Claim Images,Wyman,NaN,Seth,Head,?,M,W,NaN,420,1,Seth Wyman,three possible Seth Wymans